$bgColor:rgba(255, 255, 255, 0.815);

.dish-container{
    
    text-align: left;
    width:auto;
    margin-left: auto;
    margin-right:auto;
}

.buttonsContainer{
    margin-bottom: 5px;
    width:50%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(245, 248, 72, 0.603);
    display: flex;
    justify-content: center;

    button{
        cursor: pointer;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.61);
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.39);
        text-decoration: none;
        outline: 0;
        &:hover{
            background-color: rgba(250, 231, 231, 0.705);
        }
    }
}

.menuBox{
    display:flex;
}

.tableCenter{
    text-align: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color: $bgColor;
    
}

.tableTitle{
    background-color: $bgColor;
    padding: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
    width: 150px;
    font-weight: bold;
    text-align: center;

}



