.dish-container{
    
    text-align: left;
    width:100%;
    margin-left: auto;
    margin-right:auto;
}

.buttonsContainer{
    margin-bottom: 5px;
    text-align:center;
    button{
        padding: 5px;
        background-color: rgba(253, 190, 190, 0.61);
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.39);
        text-decoration: none;
        outline: 0;
        &:hover{
            background-color: rgba(250, 231, 231, 0.705);
        }
    }

}

.menuBox{
    display:flex;
}

.tableCenter{
    text-align: center;
}

table{
    border-collapse: collapse;
    
}

