<div class="basket-container">
  <div class='basketTitle'>Twój Koszyk</div>

  

  <div *ngFor="let dish of dishesToDisplay" class="orderPositionDelete">
      <div class="orderPosition">
  <div>{{dish.name}}</div> <div>{{dish.price}} zł </div>
</div>
<div class="counter">{{service.countDish(dish)}}</div>
  <div class="deleteButton" (click)="deleteDish(dish)"><div class="minus"></div></div>
  
</div>
<h2>Do zapłaty: {{service.countTotal()}} zł</h2>
  <button [routerLink]="['/order']">Zamówienie</button>
</div>