$basketColor:rgba(255, 255, 255, 0.815);

.basket-container{
    background-color: $basketColor;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin-left: 100px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    
    
}

.orderPosition{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    margin: 2px;
    width:100%;
    background-color: lighten($basketColor, 30%);
}

.orderPositionDelete{
    display: flex;
    align-items:center;

}

.deleteButton{
    color: white;
    font-weight: 400px;
    border-radius: 70px;
    background-color: red;
    padding:5px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: rgba(255, 0, 0, 0.623);
        cursor: pointer;
    }
    
}

.minus{
    width: 15px;
    height:3px;
    background-color: white;
    border-radius: 10px;
}

button{
    background-color: rgba(255, 255, 0, 0.336);
    border-radius: 10px;
    border: 1px solid red;
    font-size: 16px;
    font-weight: 600;
    outline: 0;
    &:hover{
        background-color: rgba(133, 133, 44, 0.438);
    }
    cursor: pointer;
}

.basketTitle{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 10px;
   
    background-color: lighten($basketColor, 30%);
    margin-bottom: 10px;
}
