
$headerColor: rgba(255, 255, 255, 0.534);
.header{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
   div{
       margin-right: 50px;
   }
   margin-bottom: 20px;
   background-color: $headerColor;
    padding: 5px;
    box-shadow: 0px 0px 5px 5px $headerColor;
}


.title{
    padding: 5px;
    background-color: #faeb178f;
    border: 4px double red;
    border-radius: 15%;
    font-family: 'Indie Flower', cursive;
    
}

.menuElement{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    &:hover{
    background-color: #faeb1775
    }
 
    outline: 0;
}

