
td { 
	border: 1px solid black;
	border-spacing: 0;
	
    margin: 0;
     padding: 0;

     text-align: left;
}

.tableId{
    min-width: 50px;
}
.tableName{
    min-width: 250px;
}
.tableAvailable{
    min-width: 100px;
}
.tableDescription{
    min-width: 250px;
}
.tableType{
    min-width: 100px;
}
.tablePrice{
    min-width: 100px;
}
 