
.tableId{
    width: 50px;
}
.tableName{
    min-width: 250px;
}
.tableAvailable{
    min-width: 100px;
}
.tableDescription{
    min-width: 250px;
}
.tableType{
    min-width: 100px;
}
.tablePrice{
    min-width: 100px;
}

.table{
    display: flex;
    div{
        border:1px solid;
        border-bottom:0px;
        border-right: 0;
    }
    &:hover{
        background-color: rgba(66, 14, 14, 0.473);
        cursor:pointer;
    }
}
 