body{
        background-image: url("./assets/img/pizza_background.jpg");
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
}