$bgColor:rgba(255, 255, 255, 0.815);

.detailsContainer{
    text-align: center;
    margin: auto;
    width: 500px;
    background-color: $bgColor;
    
    border: 1px solid;
}

.column {
    float: left;
    width: 50%;
    text-align: left;
}

.column2 {
    float: left;
    text-align: left;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 3px;
    }
    li{
        padding-left: 10px;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    padding:10px;
}

.row:nth-child(odd) {
    background: lighten($bgColor, $amount: 5);
}

.backButton{
    background-color: #fa5f3975;
    width:30%;
    margin: auto;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    &:hover{
        background-color: #fa981775;
        
    }
    margin-top: 10px;
}

.deleteButton{
    background-color: #fd0800be;
    width:30%;
    margin: auto;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    &:hover{
        background-color: #ff1e008e;
        
    }
}