.dish-container{
    
    text-align: center;
    width:40%;
    margin-left: 100px;
    margin-right:auto;
}

.buttonsContainer{
    margin-bottom: 5px;
    width:60%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(245, 248, 72, 0.603);
    button{
        cursor: pointer;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.61);
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.39);
        text-decoration: none;
        outline: 0;
        &:hover{
            background-color: rgba(250, 231, 231, 0.705);
        }
    }
    

}

.menuBox{
    display:flex;
}

#sortButton{
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.61);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    text-decoration: none;
    outline: 0;
    &:hover{
        background-color: rgba(250, 231, 231, 0.705);
    }
}